<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--   <settings> -->
<!--     <setting name="logImpl" value="STDOUT_LOGGING" /> -->
<!--   </settings> -->
  <!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径 -->
  <typeAliases>
    <typeAlias type="com.zm.mr.model.User" alias="User" />
    <typeAlias type="com.zm.mr.model.Role" alias="Role" />
    <typeAlias type="com.zm.mr.model.MeetingRoom" alias="MeetingRoom" />
    <typeAlias type="com.zm.mr.model.MeetingRoomOrder" alias="MeetingRoomOrder" />
  </typeAliases>
  <mappers>
    <mapper resource="com/zm/mr/dao/mapper/UserMapper.xml" />
    <mapper resource="com/zm/mr/dao/mapper/RoleMapper.xml" />
    <mapper resource="com/zm/mr/dao/mapper/MeetingRoomMapper.xml" />
    <mapper resource="com/zm/mr/dao/mapper/MeetingRoomOrderMapper.xml" />
  </mappers>
</configuration> 